/node_modules
/apps/legacy-api/node_modules
/apps/legacy-web/node_modules
/packages/shared/node_modules
/backend/node_modules
/frontend/node_modules
.env
/apps/legacy-api/.env
npm-debug.log*
yarn-error.log*
/uploads
/dist
/build
