@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  @apply bg-emerald-50 text-emerald-900 antialiased;
  font-family: "Inter", system-ui, sans-serif;
}

* {
  scroll-behavior: smooth;
}
