@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-secondary-200;
  }
  
  body {
    @apply bg-secondary-50 text-secondary-900 antialiased;
  }

  /* Focus ring */
  *:focus-visible {
    @apply outline-none ring-2 ring-primary-500 ring-offset-2;
  }
}

@layer utilities {
  .focus-ring {
    @apply focus:outline-none focus:ring-2 focus:ring-primary-500 focus:ring-offset-2;
  }
}
